In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly

In [3]:
import snowflake.connector

In [4]:
ACCOUNT = 'bab48039'
USER = 'nzaw96'
PASSWORD = 'Abc123!@#'

## Seems like there's some issue with connecting Jupyter notebook to Snowflake. The goal of this connection was to directly export the processed files into tables in Snowflake. For now, the processed will be first save to my local computer and then staged+loaded into Snowflake using Snowsql.

In [5]:
# Seems like there's issues connecting Jupyter Notebook to Snowflake
con = snowflake.connector.connect(
  user=USER,
  password=PASSWORD,
  account=ACCOUNT,
)

MemoryError: Cannot allocate write+execute memory for ffi.callback(). You might be running on a system that prevents this. For more information, see https://cffi.readthedocs.io/en/latest/using.html#callbacks

## 1. Data is (are?) imported from Google's Covid-19 Open Data source. Each file is imported into a separate dataframe. The file 'index.csv' contains the keys that can be used to join the tables.

In [6]:
df_index = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/index.csv")
df_epidem = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/epidemiology.csv")
df_demog = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/demographics.csv")
df_emergDeclare = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/lawatlas-emergency-declarations.csv")
df_hospitalized = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/hospitalizations.csv")
df_mobility = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/mobility.csv")
df_vaccinations = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/vaccinations.csv")
df_govResponse =pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/oxford-government-response.csv")

## Now, we will clean all the dataframes in the order that they were imported in above.

### First up is df_index which is a dataframe that contains keys to join the tables together.

In [66]:
df_index.head()

,location_key,place_id,wikidata_id,datacommons_id,country_code,country_name,subregion1_code,subregion1_name,subregion2_code,subregion2_name,locality_code,locality_name,iso_3166_1_alpha_2,iso_3166_1_alpha_3,aggregation_level
0,AD,ChIJlfCemC71pRIRkn_qeNc-yQc,Q228,country/AND,AD,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,AD,AND,0
1,AE,ChIJvRKrsd9IXj4RpwoIwFYv0zM,Q878,country/ARE,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,AE,ARE,0
2,AF,ChIJbQL_-LZu0TgReNqWvg1GtfM,Q889,country/AFG,AF,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,AF,AFG,0
3,AF_BAL,ChIJWZOescNSyzgRkmVJ8fmfR3k,Q121104,NaN,AF,Afghanistan,BAL,Balkh,NaN,NaN,NaN,NaN,AF,AFG,1
4,AF_BAM,ChIJw-bKQwDr0jgRQiw8jHsQ-HI,Q171382,NaN,AF,Afghanistan,BAM,Bamyan,NaN,NaN,NaN,NaN,AF,AFG,1

### We will only keep rows where country_name = 'United States of America'

In [67]:
df_index = df_index.loc[df_index['country_name']=='United States of America']

### We also see that the values in the location_key column are specific to the city/county level as zipcodes are appended to them. We only want to specify the state so we can unappend the zipcode and cities. For example, 'US_FL_12009' -> 'US_FL'. So, we will add a column called 'location_key_2' that stores the state-level granularity of the location keys.

In [68]:
set(df_index['location_key'].tolist())

{'US_FL_12009',
 'US_OK_40107',
 'US_UT_49021',
 'US_AK_02195',
 'US_WV_54057',
 'US_WY_56015',
 'US_GA_13271',
 'US_MN_27109',
 'US_WY_56003',
 'US_CA_06035',
 'US_OK_40045',
 'US_GA',
 'US_GA_13251',
 'US_SC_45017',
 'US_FL_12127',
 'US_CO_08059',
 'US_IL_17055',
 'US_WV_54077',
 'US_SD_46081',
 'US_NJ_34013',
 'US_MN_27015',
 'US_MI_26079',
 'US_KS_20017',
 'US_IA_19017',
 'US_TX_48411',
 'US_MT_30029',
 'US_FL_12059',
 'US_CO_08071',
 'US_FL_12039',
 'US_TN_47089',
 'US_OK_40013',
 'US_FL_12037',
 'US_MO_29019',
 'US_ID_16083',
 'US_NJ_34037',
 'US_ID_16055',
 'US_KY_21139',
 'US_GA_13227',
 'US_CA_06087',
 'US_GA_13223',
 'US_AR_05015',
 'US_NM_35011',
 'US_FL_12053',
 'US_OH_39173',
 'US_KY_21073',
 'US_MT_30023',
 'US_PR_72123',
 'US_MI_26119',
 'US_MA_25017',
 'US_VT_50023',
 'US_OR_41019',
 'US_AK_02282',
 'US_VA_51107',
 'US_CA_06073',
 'US_OK_40071',
 'US_MT_30083',
 'US_TX_48383',
 'US_NY_36035',
 'US_VA_51640',
 'US_NE_31081',
 'US_KS_20057',
 'US_TN_47121',
 'US_GA_13183',
 'US_MO',
 'US_OH_39043',
 'US_MA_25023',
 'US_NE_31125',
 'US_CO_08095',
 'US_TX_48453',
 'US_KS_20191',
 'US_OR_41047',
 'US_NE_31043',
 'US_CO_08075',
 'US_TN_47161',
 'US_KY_21013',
 'US_TN_47129',
 'US_KY_21049',
 'US_MA_25027',
 'US_NE_31185',
 'US_FL_12105',
 'US_VA_51036',
 'US_GA_13091',
 'US_GA_13099',
 'US_TX_48113',
 'US_IN_18177',
 'US_VA_51057',
 'US_TN_47059',
 'US_IA_19099',
 'US_SD_46005',
 'US_SC_45059',
 'US_TX_48071',
 'US_NY_36115',
 'US_TX_48399',
 'US_LA_22009',
 'US_NE_31103',
 'US_CA_06023',
 'US_MN_27043',
 'US_SD_46069',
 'US_WI_55087',
 'US_AL_01105',
 'US_ND_38029',
 'US_TN_47087',
 'US_TX_48105',
 'US_PR_72081',
 'US_MI_26053',
 'US_CO_08023',
 'US_KS_20149',
 'US_MO_29079',
 'US_OK_40091',
 'US_ND_38059',
 'US_WY_56007',
 'US_NM_35035',
 'US_TX_48121',
 'US_GA_13133',
 'US_MT_30035',
 'US_AL_01073',
 'US_NE_31183',
 'US_IL_17005',
 'US_NC_37005',
 'US_VA_51053',
 'US_MN_27163',
 'US_ID_16033',
 'US_LA_22061',
 'US_VA_51145',
 'US_PR_72119',
 'US_OK_40047',
 'US_KS_20011',
 'US_CO_08117',
 'US_TX_48297',
 'US_CO_08005',
 'US_MI_26155',
 'US_KY_21033',
 'US_NE_31101',
 'US_TX_48041',
 'US_MS_28051',
 'US_IN_18101',
 'US_LA_22023',
 'US_GA_13111',
 'US_VA_51131',
 'US_ND_38007',
 'US_AR_05077',
 'US_TX_48491',
 'US_GA_13265',
 'US_MO_29035',
 'US_PA_42001',
 'US_MN_27087',
 'US_TN_47001',
 'US_AL_01041',
 'US_IA',
 'US_MA_25011',
 'US_MT_30071',
 'US_SD_46025',
 'US_MI_26145',
 'US_MO_29015',
 'US_TX_48469',
 'US_IN_18089',
 'US_KS_20139',
 'US_LA_22067',
 'US_CA_06021',
 'US_NC_37153',
 'US_NE_31059',
 'US_ND_38101',
 'US_IL_17173',
 'US_NE_31041',
 'US_KY_21141',
 'US_NV_32001',
 'US_NJ_34035',
 'US_WA_53051',
 'US_KS_20019',
 'US_KY_21199',
 'US_MN_27137',
 'US_MT_30033',
 'US_NY_36107',
 'US_WI_55013',
 'US_TX_48299',
 'US_AL_01015',
 'US_OH_39141',
 'US_VA_51750',
 'US_MS_28027',
 'US_KY_21213',
 'US_TX_48109',
 'US_VA_51530',
 'US_GA_13121',
 'US_MN_27117',
 'US_CA_06077',
 'US_OR_41023',
 'US_VA_51550',
 'US_VA_51197',
 'US_KY_21083',
 'US_MS_28043',
 'US_NC_37121',
 'US_OH_39137',
 'US_TX_48149',
 'US_KS_20049',
 'US_IA_19103',
 'US_PR_72003',
 'US_FL_12043',
 'US_GA_13003',
 'US_AR_05061',
 'US_PA_42041',
 'US_KS_20129',
 'US_CT_09005',
 'US_MN_27003',
 'US_AL_01061',
 'US_MO_29017',
 'US_WV_54007',
 'US_OK_40081',
 'US_IL_17031',
 'US_OH_39089',
 'US_LA_22001',
 'US_IL_17095',
 'US_WV_54035',
 'US_FL_12041',
 'US_RI',
 'US_ID_16035',
 'US_VA_51099',
 'US_UT_49003',
 'US_WI_55003',
 'US_KY_21063',
 'US_MD_24031',
 'US_SC_45019',
 'US_AR_05117',
 'US_LA_22105',
 'US_PR_72023',
 'US_KS_20131',
 'US_AR_05017',
 'US_PR_72109',
 'US_TN_47181',
 'US_GA_13307',
 'US_TX_48347',
 'US_KS_20159',
 'US_VA_51139',
 'US_OK_40059',
 'US_MO_29510',
 'US_WV_54015',
 'US_LA_22019',
 'US_OH_39103',
 'US_MD_24019',
 'US_VA_51047',
 'US_CA_06055',
 'US_ND_38015',
 'US_NE_31061',
 'US_WI_55073',
 'US_PA_42031',
 'US_IL_17017',
 'US_IN_18109',
 'US_FL_12067',
 'US_CA_06109',
 'US_MO_29039',
 'US_OH_39121',
 'US_VA_51021',
 'US_KY_21151',
 'US_TX_48387',
 'US_OH',
 'US_TX_48473',
 'US_TN_47151',
 'US_ND_38071',
 'US_MA_25005',
 'US_CT_09003',
 'US_MO_29195',
 'US_TX_48401',
 'US_GA_13221',
 'US_MD_24029',
 'US_VA_51175',
 'US_FL_12125',
 'US_MO_29013',
 'US_CO_08085',
 'US_GA_13085',
 'US_ID_16031',
 'US_CA_06003',
 'US_CA_06075',
 'US_SC_45009',
 'US_TX_48395',
 'US_TN_47185',
 'US_KS_20155',
 'US_KY_21035',
 'US_OH_39033',
 'US_PA_42049',
 'US_IN_18075',
 'US_UT_49055',
 'US_MS_28037',
 'US_VA_51193',
 'US_AL_01103',
 'US_TN_47115',
 'US_WY_56001',
 'US_OR_41065',
 'US_GA_13129',
 'US_MS_28137',
 'US_CO_08003',
 'US_NY_36027',
 'US_OK_40135',
 'US_WV_54097',
 'US_TN_47077',
 'US_TN_47183',
 'US_KS_20007',
 'US_NY_36075',
 'US_VA_51153',
 'US_KY_21155',
 'US_NE_31021',
 'US_VA_51045',
 'US_IL_17189',
 'US_NY_36029',
 'US_IL_17065',
 'US_OK_40153',
 'US_TN_47093',
 'US_MS_28097',
 'US_FL_12021',
 'US_OK_40017',
 'US_TX_48249',
 'US_IN_18171',
 'US_AR_05063',
 'US_NC_37015',
 'US_AK_02013',
 'US_IN_18011',
 'US_NC_37161',
 'US_GA_13199',
 'US_IN_18153',
 'US_IN_18017',
 'US_TN_47139',
 'US_KY_21053',
 'US_GA_13255',
 'US_WA_53049',
 'US_VA_51105',
 'US_GA_13173',
 'US_IL_17115',
 'US_NE_31031',
 'US_TX_48169',
 'US_NE_31065',
 'US_IN_18103',
 'US_MN_27133',
 'US_CO_08001',
 'US_ND_38051',
 'US_IA_19111',
 'US_AR_05103',
 'US_MS_28021',
 'US_MS_28107',
 'US_ND_38079',
 'US_NC_37105',
 'US_SD_46085',
 'US_VA_51071',
 'US_NV_32005',
 'US_NJ_34025',
 'US_MI_26097',
 'US_GA_13211',
 'US_NC_37129',
 'US_AR_05041',
 'US_NE_31039',
 'US_IL_17159',
 'US_OK_40149',
 'US_TX_48295',
 'US_WI_55019',
 'US_AR_05049',
 'US_OR_41003',
 'US_PR_72111',
 'US_ND_38037',
 'US_GA_13071',
 'US_WA_53001',
 'US_OH_39075',
 'US_PR_72125',
 'US_WY_56009',
 'US_MS_28149',
 'US_KY_21031',
 'US_MN_27095',
 'US_OK_40021',
 'US_OR_41013',
 'US_MS_28073',
 'US_IA_19039',
 'US_OR_41071',
 'US_IN_18013',
 'US_TN_47043',
 'US_CO_08121',
 'US_TX_48321',
 'US_NY_36039',
 'US_VA_51700',
 'US_FL_12113',
 'US_NC_37023',
 'US_TX_48133',
 'US_AZ_04001',
 'US_NV_32027',
 'US_OH_39035',
 'US_MT_30039',
 'US_ID_16029',
 'US_PR_72137',
 'US_TX_48279',
 'US_TX_48119',
 'US_IL_17183',
 'US_WA_53059',
 'US_TX_48155',
 'US_MD_24047',
 'US_MN_27085',
 'US_IA_19037',
 'US_AL_01119',
 'US_IN_18183',
 'US_MO_29169',
 'US_WI_55015',
 'US_NC_37137',
 'US_GA_13117',
 'US_CA_06005',
 'US_SC_45029',
 'US_CA_06043',
 'US_VA_51063',
 'US_MI_26067',
 'US_VA_51011',
 'US_TX_48377',
 'US_TX_48043',
 'US_CA_06059',
 'US_MI_26073',
 'US_SC_45041',
 'US_IA_19081',
 'US_NC_37053',
 'US_PA_42115',
 'US_SD_46049',
 'US_MN_27071',
 'US_KY_21143',
 'US_GA_13185',
 'US_FL_12075',
 'US_TN_47009',
 'US_WI_55075',
 'US_OH_39157',
 'US_ND_38043',
 'US_OK_40111',
 'US_GA_13009',
 'US_NM_35031',
 'US_NE_31117',
 'US_OH_39115',
 'US_TX_48195',
 'US_OK_40083',
 'US_WV_54037',
 'US_TX_48173',
 'US_FL_12107',
 'US_GA_13309',
 'US_AR_05047',
 'US_PA_42045',
 'US_TN_47073',
 'US_ND_38021',
 'US_IA_19175',
 'US_IN_18175',
 'US_NY_36059',
 'US_PA_42093',
 'US_GA_13125',
 'US_KY_21037',
 'US_TX_48143',
 'US_IL_17015',
 'US_MT_30063',
 'US_MT_30087',
 'US_IL_17083',
 'US_GA_13017',
 'US_MO_29107',
 'US_OK_40131',
 'US_SC_45011',
 'US_TX_48009',
 'US_CA_06099',
 'US_MS_28079',
 'US_MS_28131',
 'US_KY_21015',
 'US_TX_48477',
 'US_GA_13103',
 'US_MO_29055',
 'US_VA_51069',
 'US_PA_42051',
 'US_SC_45091',
 'US_GA_13263',
 'US_TX_48189',
 'US_WV_54081',
 'US_FL_12023',
 'US_VA_51143',
 'US_MS_28011',
 'US_MI_26103',
 'US_VA_51065',
 'US_ND_38061',
 'US_WI_55009',
 'US_NM_35061',
 'US_WI_55093',
 'US_AR_05009',
 'US_MS_28053',
 'US_GA_13007',
 'US_OH_39061',
 'US_OR_41021',
 'US_CT_09015',
 'US_NM_35013',
 'US_AL_01029',
 'US_AR_05001',
 'US_VA_51179',
 'US_TX_48137',
 'US_MN_27013',
 'US_LA_22039',
 'US_KS_20201',
 'US_NC_37109',
 'US_PA_42059',
 'US_TX_48437',
 'US_KS_20137',
 'US_OH_39081',
 'US_MN_27165',
 'US_TX_48191',
 'US_FL_12073',
 'US_KS_20121',
 'US_ME_23021',
 'US_MI_26027',
 'US_MO_29089',
 'US_IN_18099',
 'US_ND_38023',
 'US_IL_17085',
 'US_TX_48425',
 'US_MO_29075',
 'US_WI_55117',
 'US_AR_05023',
 'US_HI_15007',
 'US_IL_17181',
 'US_IA_19043',
 'US_IN_18147',
 'US_IN_18179',
 'US_MI_26019',
 'US_PA_42105',
 'US_VA_51183',
 'US_IL_17149',
 'US_OH_39109',
 'US_TX_48243',
 'US_MI_26121',
 'US_TX_48237',
 'US_TX_48433',
 'US_FL_12051',
 'US_RI_44005',
 'US_KS_20161',
 'US_IN_18045',
 'US_IA_19085',
 'US_MN_27093',
 'US_MN_27169',
 'US_TX_48261',
 'US_WV_54087',
 'US_IA_19035',
 'US_AL_01047',
 'US_AK_02164',
 'US_ID_16059',
 'US_AL_01107',
 'US_NM_35037',
 'US_NY_36083',
 'US_TX_48193',
 'US_TX_48263',
 'US_OK_40109',
 'US_GA_13089',
 'US_NY_36111',
 'US_PR',
 'US_MI_26001',
 'US_MS_28159',
 'US_AR_05011',
 'US_SC_45061',
 'US_IL_17199',
 'US_GA_13097',
 'US_VA_51023',
 'US_IL_17073',
 'US_PA_42095',
 'US_SD_46117',
 'US_KY_21181',
 'US_PA_42005',
 'US_MN_27055',
 'US_PR_72051',
 'US_VA_51595',
 'US_TX_48151',
 'US_TX_48481',
 'US_KY_21121',
 'US_ID_16017',
 'US_KY_21071',
 'US_MA_25009',
 'US_NC_37159',
 'US_AZ_04003',
 'US_OH_39111',
 'US_OK_40067',
 'US_OK_40095',
 'US_WV_54069',
 'US_SD_46063',
 'US_IA_19051',
 'US_TX_48373',
 'US_MO_29101',
 'US_NE_31027',
 'US_NV_32009',
 'US_GA_13153',
 'US_LA_22053',
 'US_NC_37007',
 'US_AL_01093',
 'US_SC_45013',
 'US_WA_53013',
 'US_TN_47033',
 'US_IL_17025',
 'US_NY_36049',
 'US_IN',
 'US_VA_51051',
 'US_FL_12093',
 'US_GA_13259',
 'US_NC_37139',
 'US_MI_26109',
 'US_TN_47021',
 'US_AK_02060',
 'US_VA_51101',
 'US_IN_18083',
 'US_TX_48211',
 'US_WI_55133',
 'US_WI_55067',
 'US_PA_42067',
 'US_MO_29171',
 'US_ND_38067',
 'US_OH_39053',
 'US_OK_40079',
 'US_VI_78020',
 'US_SD_46057',
 'US_PR_72087',
 'US_WI_55083',
 'US_RI_44007',
 'US_MO_29127',
 'US_WV_54083',
 'US_MT_30037',
 'US_NY_36001',
 'US_TX_48499',
 'US_TX_48329',
 'US_MI_26029',
 'US_NY_36067',
 'US_FL_12091',
 'US_TX_48363',
 'US_IL_17123',
 'US_IA_19179',
 'US_WV_54079',
 'US_IA_19193',
 'US_VA_51830',
 'US_ID_16079',
 'US_TX_48463',
 'US_VA_51003',
 'US_NM_35006',
 'US_MO_29205',
 'US_IA_19071',
 'US_KY_21135',
 'US_KS_20067',
 'US_TX_48001',
 'US_MA_25015',
 'US_SD_46115',
 'US_KS_20053',
 'US_GA_13005',
 'US_LA_22087',
 'US_TN_47081',
 'US_TX',
 'US_PR_72153',
 'US_GA_13191',
 'US_NJ_34039',
 'US_FL_12077',
 'US_ID_16007',
 'US_IL_17153',
 'US_PR_72065',
 'US_NC_37011',
 'US_AL_01051',
 'US_GA_13045',
 'US_IL_17117',
 'US_OK_40001',
 'US_MO_29141',
 'US_SD_46059',
 'US_PR_72029',
 'US_MN_27007',
 'US_OK_40033',
 'US_NC_37143',
 'US_KS_20115',
 'US_TN_47061',
 'US_MN_27131',
 'US_MS_28087',
 'US_SC_45023',
 'US_TN_47177',
 'US_TX_48427',
 'US_VA_51043',
 'US_CA_06041',
 'US_WV_54095',
 'US_IN_18181',
 'US_MO_29053',
 'US_VA_51840',
 'US_NV',
 'US_NE_31035',
 'US_NC_37117',
 'US_PR_72057',
 'US_MI_26055',
 'US_GA_13313',
 'US_MN_27125',
 'US_GA_13033',
 'US_WY_56029',
 'US_KS_20099',
 'US_IN_18033',
 'US_MO_29213',
 'US_MN_27001',
 'US_NC_37065',
 'US_NY_36087',
 'US_KS_20093',
 'US_MD_24033',
 'US_PR_72027',
 'US_TX_48093',
 'US_WV_54005',
 'US_AR_05139',
 'US_MT_30079',
 'US_KS_20051',
 'US_NC_37187',
 'US_GA_13239',
 'US_IL_17087',
 'US_MI_26005',
 'US_KY_21179',
 'US_NC_37179',
 'US_SD_46129',
 'US_MT_30011',
 'US_AR_05035',
 'US_GA_13101',
 'US_KS_20079',
 'US_ND_38045',
 'US_NE_31095',
 'US_NJ_34015',
 'US_CA_06069',
 'US_SD_46125',
 'US_AR_05029',
 'US_IL_17029',
 'US_MN_27161',
 'US_SC_45053',
 'US_CA_06101',
 'US_AL_01077',
 'US_TX_48439',
 'US_KY_21185',
 'US_WI_55078',
 'US_OK_40127',
 'US_KY_21027',
 'US_AL_01045',
 'US_LA_22103',
 'US_GA_13059',
 'US_MI_26137',
 'US_TN_47003',
 'US_IA_19021',
 'US_OH_39123',
 'US_IA_19169',
 'US_IN_18005',
 'US_TN_47173',
 'US_NE_31121',
 'US_SC_45035',
 'US_TN_47155',
 'US_IN_18055',
 'US_KS_20029',
 'US_WA_53037',
 'US_ID_16057',
 'US_IA_19057',
 'US_NJ_34019',
 'US_WI_55069',
 'US_CO_08107',
 'US_TX_48153',
 'US_NM_35043',
 'US_WI_55079',
 'US_WA_53031',
 'US_TX_48355',
 'US_AL_01021',
 'US_KY_21103',
 'US_MS_28047',
 'US_AL_01095',
 'US_OH_39105',
 'US_NC_37093',
 'US_SC_45047',
 'US_OH_39009',
 'US_TN_47179',
 'US_MN_27057',
 'US_AL_01101',
 'US_GA_13295',
 'US_FL_12031',
 'US_IN_18069',
 'US_IL_17067',
 'US_VA_51017',
 'US_PA_42055',
 'US_TX_48413',
 'US_WY_56005',
 'US_TN_47005',
 'US_AL_01113',
 'US_KS_20119',
 'US_GA_13247',
 'US_FL_12065',
 'US_WI_55017',
 'US_MI_26101',
 'US_TX_48449',
 'US_SC_45067',
 'US_FL_12129',
 'US_IA_19101',
 'US_OK_40101',
 'US_LA_22005',
 'US_MO_29149',
 'US_NE_31063',
 'US_NJ_34027',
 'US_WI_55131',
 'US_OK_40019',
 'US_OR_41041',
 'US_TN_47057',
 'US_MO_29061',
 'US_IL_17167',
 'US_ID_16003',
 'US_TX_48505',
 'US_IA_19067',
 'US_ND_38027',
 'US_NC_37123',
 'US_KS_20173',
 'US_TX_48007',
 'US_PR_72025',
 'US_AK_02070',
 'US_PA_42053',
 'US_IL_17097',
 'US_IL_17127',
 'US_LA_22123',
 'US_GA_13143',
 'US_TX_48233',
 'US_MT_30109',
 'US_NC_37127',
 'US_KS_20023',
 'US_MS_28077',
 'US_MD_24510',
 'US_PR_72054',
 'US_MA_25001',
 'US_IN_18133',
 'US_GA_13067',
 'US_IA_19183',
 'US_ME_23027',
 'US_MS_28033',
 'US_MI_26045',
 'US_TX_48081',
 'US_VA_51185',
 'US_PR_72043',
 'US_GA_13179',
 'US_PA_42029',
 'US_IN_18169',
 'US_LA_22003',
 'US_SD_46043',
 'US_SC_45027',
 'US_VT_50021',
 'US_PR_72101',
 'US_AR_05095',
 'US_SC_45015',
 'US_MS_28121',
 'US_VA_51115',
 'US_KY_21111',
 'US_MI_26083',
 'US_NY_36017',
 'US_TX_48235',
 'US_WV_54051',
 'US_TN_47171',
 'US_OR_41043',
 'US_OR_41001',
 'US_KY_21171',
 'US_MT_30059',
 'US_MO_29025',
 'US_VT_50007',
 'US_WI_55055',
 'US_NE_31049',
 'US_CA_06067',
 'US_VA_51025',
 'US_OK_40089',
 'US_MI_26093',
 'US_WY_56041',
 'US_VA_51019',
 'US_TN_47187',
 'US_TX_48017',
 'US_IA_19075',
 'US_KY_21187',
 'US_IL_17147',
 'US_NM_35045',
 'US_CO_08009',
 'US_ID_16013',
 'US_IL_17177',
 'US_MD_24021',
 'US_TX_48077',
 'US_WA_53019',
 'US_ND_38035',
 'US_IL_17069',
 'US_UT_49007',
 'US_FL_12121',
 'US_WI_55061',
 'US_FL_12119',
 'US_SC_45051',
 'US_KY_21095',
 'US_KS_20015',
 'US_PA_42073',
 'US_SD_46091',
 'US_NC_37197',
 'US_MN_27011',
 'US_AL_01085',
 'US_NY_36007',
 'US_NJ_34041',
 'US_MN_27103',
 'US_TX_48053',
 'US_TX_48197',
 'US_KY_21217',
 'US_MN_27035',
 'US_GA_13243',
 'US_OR_41063',
 'US_ND_38099',
 'US_IA_19083',
 'US_CO_08025',
 'US_GA_13161',
 'US_MN_27041',
 'US_TX_48079',
 'US_ID_16053',
 'US_OH_39079',
 'US_OR_41025',
 'US_SC_45025',
 'US_PR_72117',
 'US_IN_18009',
 'US_TX_48225',
 'US_MN_27091',
 'US_AR_05145',
 'US_MO_29221',
 'US_TX_48423',
 'US_CO_08049',
 'US_MO_29223',
 'US_LA_22089',
 'US_WI_55089',
 'US_TX_48409',
 'US_TX_48333',
 'US_ID_16061',
 'US_NC_37169',
 'US_LA_22031',
 'US_NM',
 'US_IA_19065',
 'US_KS_20113',
 'US_NC_37107',
 'US_AL',
 'US_MO_29113',
 'US_WV_54053',
 'US_WY_56035',
 'US_PR_72045',
 'US_NE_31057',
 'US_CO_08014',
 'US_VA_51067',
 'US_MD_24005',
 'US_WV_54089',
 'US_TX_48183',
 'US_UT_49001',
 'US_NC_37075',
 'US_SD_46015',
 'US_CO_08101',
 'US_IL_17077',
 'US_IL_17037',
 'US_MI_26013',
 'US_TX_48245',
 'US_ND_38009',
 'US_OH_39069',
 'US_CO_08041',
 'US_PA_42019',
 'US_MT_30097',
 'US_MS_28155',
 'US_NY_36013',
 'US_MI_26117',
 'US_GA_13035',
 'US_TX_48059',
 'US_KY_21189',
 'US_SD_46011',
 'US_IA_19107',
 'US_NY_36097',
 'US_AL_01125',
 'US_WI_55109',
 'US_IA_19077',
 'US_VA_51137',
 'US_ID_16077',
 'US_NC_37059',
 'US_NY_36023',
 'US_TN_47135',
 'US_SD_46067',
 'US_NC_37163',
 'US_GA_13115',
 'US_PA_42087',
 'US_AL_01079',
 'US_MO_29121',
 'US_UT_49009',
 'US_WI_55119',
 'US_CA_06103',
 'US_CO_08113',
 'US_VA_51005',
 'US_MT_30031',
 'US_UT_49031',
 'US_LA_22033',
 'US_TX_48479',
 'US_KY_21115',
 'US_WV_54023',
 'US_PR_72089',
 'US_VA_51157',
 'US_OR_41015',
 'US_IN_18095',
 'US_TX_48265',
 'US_AZ_04013',
 'US_IN_18093',
 'US_WV_54063',
 'US_MN_27031',
 'US_GA_13283',
 'US_MS_28127',
 'US_ID_16065',
 'US_PR_72001',
 'US_TX_48127',
 'US_OK_40063',
 'US_IA_19013',
 'US_TX_48317',
 'US_ID_16037',
 'US_MD_24013',
 'US_WV_54017',
 'US_ID_16011',
 'US_IN_18107',
 'US_AL_01097',
 'US_MO_29203',
 'US_KS_20085',
 'US_ND_38075',
 'US_WV_54055',
 'US_PR_72147',
 ...}

In [69]:
df_index['location_key_2'] = df_index['location_key'].apply(lambda x: '_'.join(x.split('_')[:2]))

In [597]:
df_index.head()

,location_key,place_id,wikidata_id,datacommons_id,country_code,country_name,subregion1_code,subregion1_name,subregion2_code,subregion2_name,locality_code,locality_name,iso_3166_1_alpha_2,iso_3166_1_alpha_3,aggregation_level,location_key_2
19557,US,ChIJCzYy5IS16lQRQrfeQ5K5Oxw,Q30,country/USA,US,United States of America,NaN,NaN,NaN,NaN,NaN,NaN,US,USA,0,US
19558,US_AK,ChIJG8CuwJzfAFQRNduKqSde27w,Q797,geoId/02,US,United States of America,AK,Alaska,NaN,NaN,NaN,NaN,US,USA,1,US_AK
19559,US_AK_02013,ChIJ7a-UgVuW_lYRjTetzbIWL48,Q504371,geoId/02013,US,United States of America,AK,Alaska,02013,Aleutians East,NaN,NaN,US,USA,2,US_AK
19560,US_AK_02016,ChIJI9ivbI1Pg1cRg8d4nlGjGVU,Q185533,geoId/02016,US,United States of America,AK,Alaska,02016,Aleutians West,NaN,NaN,US,USA,2,US_AK
19561,US_AK_02020,ChIJQT-zBHaRyFYR42iEp1q6fSU,Q39450,geoId/02020,US,United States of America,AK,Alaska,02020,Anchorage Municipality,NaN,NaN,US,USA,2,US_AK

### We will leave the df_index dataframe just as it is, at least for now. Let's now move on to df_epidem.

In [424]:
df_epidem = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/epidemiology.csv")

In [425]:
df_epidem.head()

,date,location_key,new_confirmed,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested
0,2020-01-01,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
1,2020-01-02,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
2,2020-01-03,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
3,2020-01-04,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
4,2020-01-05,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN

### Just like with df_index, we will only keep the rows in df_epidem that correspond to the US. We will use location_key column to filter.

In [426]:
location_key_US = set(df_index['location_key'].tolist()) # this will be used later on as well for reference
df_epidem = df_epidem[df_epidem['location_key'].isin(location_key_US)]

In [427]:
df_epidem.head()

,date,location_key,new_confirmed,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested
9895200,2020-01-01,US,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
9895201,2020-01-02,US,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
9895202,2020-01-03,US,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
9895203,2020-01-04,US,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
9895204,2020-01-05,US,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN

### Just like what we did with df_index, let's add an additional column to the dataframe called 'location_key_2' which will display the state-level granularity of the location. For example, 'US_FL_12009' in 'location_key' will be 'US_FL' in 'location_key_2'.

In [428]:
df_epidem['location_key_2'] = df_epidem['location_key'].apply(lambda x: '_'.join(x.split('_')[:2]))

### We see that location_key_2 contains both just 'US' and 'US_stateX'. So, we will split df_epidem into two dataframes, df_epidem_US and df_epidem_states.

In [430]:
df_epidem_2 = df_epidem.copy(deep=True)

In [431]:
df_epidem_2['date_month'] = df_epidem_2['date'].apply(lambda x: '-'.join(x.split('-')[:2]))

### Here, we will try to keep the rows where location_key is at the state_level. In other words, rows where location_key == location_key_2.

In [432]:
df_epidem_2.shape

(2551031, 12)

In [433]:
df_epidem_2 = df_epidem_2.loc[df_epidem_2['location_key'] == df_epidem_2['location_key_2']]

### Here's we will do groupby + fillna

In [434]:
df_epidem_2.head()

,date,location_key,new_confirmed,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested,location_key_2,date_month
9895200,2020-01-01,US,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,US,2020-01
9895201,2020-01-02,US,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,US,2020-01
9895202,2020-01-03,US,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,US,2020-01
9895203,2020-01-04,US,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,US,2020-01
9895204,2020-01-05,US,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,US,2020-01

In [435]:
df_epidem_2[['new_recovered', 'new_tested', 'new_deceased']] = df_epidem_2[['new_recovered', 'new_tested', 'new_deceased']].fillna(0)

In [436]:
colsForGroupbyFillna = ['cumulative_confirmed', 'cumulative_deceased', 'cumulative_recovered', 'cumulative_tested']
df_epidem_2[colsForGroupbyFillna] = df_epidem_2.groupby(['location_key'])[colsForGroupbyFillna].apply(lambda x: x.ffill())

In [439]:
df_epidem_2 = df_epidem_2.fillna(0)
df_epidem_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55206 entries, 9895200 to 12428419
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  55206 non-null  object
 1   location_key          55206 non-null  object
 2   new_confirmed         55206 non-null  float64
 3   new_deceased          55206 non-null  float64
 4   new_recovered         55206 non-null  float64
 5   new_tested            55206 non-null  float64
 6   cumulative_confirmed  55206 non-null  float64
 7   cumulative_deceased   55206 non-null  float64
 8   cumulative_recovered  55206 non-null  float64
 9   cumulative_tested     55206 non-null  float64
 10  location_key_2        55206 non-null  object
 11  date_month            55206 non-null  object
dtypes: float64(8), object(4)
memory usage: 5.5+ MB

### Since location_key and location_key_2 are exactly the same, we can drop location_key_2 since we don't need it anymore.

In [441]:
df_epidem_2.drop(columns=['location_key_2'], inplace=True)
df_epidem_2.head()

,date,location_key,new_confirmed,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested,date_month
9895200,2020-01-01,US,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01
9895201,2020-01-02,US,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01
9895202,2020-01-03,US,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01
9895203,2020-01-04,US,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01
9895204,2020-01-05,US,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01

In [442]:
df_epidem_US = df_epidem_2.loc[df_epidem_2['location_key'] == 'US']
df_epidem_US.reset_index(drop=True, inplace=True)
df_epidem_states = df_epidem_2.loc[df_epidem_2['location_key'] != 'US']
df_epidem_states.reset_index(drop=True, inplace=True)

### We see that there is one row in the dataframe where data_month is '2022-12' (and date is '2022-12-30') which is most likely a mistake and should be '2022-08', because the data source states the data was last actively added to the repo on Sep 15, 2022.

In [443]:
df_epidem_states.loc[df_epidem_states['date_month'] == '2022-12']

,date,location_key,new_confirmed,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested,date_month
8712,2022-12-30,US_DC,-31136.0,0.0,0.0,0.0,103487.0,1382.0,34985.0,1261363.0,2022-12

In [444]:
df_epidem_states['date'] = df_epidem_states['date'].replace(['2022-12-30'], '2022-08-30')
df_epidem_states['date_month'] = df_epidem_states['date_month'].replace(['2022-12'], '2022-08')

/var/folders/8_/94pckqjd52dgrgd_fxmw31280000gp/T/ipykernel_3674/3135985351.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_epidem_states['date'] = df_epidem_states['date'].replace(['2022-12-30'], '2022-08-30')
/var/folders/8_/94pckqjd52dgrgd_fxmw31280000gp/T/ipykernel_3674/3135985351.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_epidem_states['date_month'] = df_epidem_states['date_month'].replace(['2022-12'], '2022-08')

### Another thing we see is that columns that should be int are currently float. We need to cast them back to the correct data type.

In [445]:
def fixDataTypesOfColumns(df, colsToChange, typeFrom, typeTo):
    for col in colsToChange:
        if df[col].dtypes == typeFrom:
            df[col] = df[col].astype(typeTo)
        else:
            print('Datatypes not matching!')

In [447]:
df_epidem_US.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 988 entries, 0 to 987
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  988 non-null    object
 1   location_key          988 non-null    object
 2   new_confirmed         988 non-null    float64
 3   new_deceased          988 non-null    float64
 4   new_recovered         988 non-null    float64
 5   new_tested            988 non-null    float64
 6   cumulative_confirmed  988 non-null    float64
 7   cumulative_deceased   988 non-null    float64
 8   cumulative_recovered  988 non-null    float64
 9   cumulative_tested     988 non-null    float64
 10  date_month            988 non-null    object
dtypes: float64(8), object(3)
memory usage: 85.0+ KB

In [448]:
fixDataTypesOfColumns(df_epidem_states, df_epidem_states.columns.tolist()[2:10], 'float64', 'int')
fixDataTypesOfColumns(df_epidem_US, df_epidem_US.columns.tolist()[2:10], 'float64', 'int')

/var/folders/8_/94pckqjd52dgrgd_fxmw31280000gp/T/ipykernel_3674/4103920634.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].astype(typeTo)

### Now, moving on to the demographics data (df_demog).

In [449]:
df_demog = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/demographics.csv")

In [450]:
df_demog.head()

,location_key,population,population_male,population_female,population_rural,population_urban,population_largest_city,population_clustered,population_density,human_development_index,population_age_00_09,population_age_10_19,population_age_20_29,population_age_30_39,population_age_40_49,population_age_50_59,population_age_60_69,population_age_70_79,population_age_80_and_older
0,AD,77265.0,58625.0,55581.0,9269.0,67873.0,NaN,NaN,164.394,0.858,9370.0,12022.0,10727.0,12394.0,21001.0,20720.0,14433.0,8657.0,4881.0
1,AE,9890400.0,6836349.0,3054051.0,1290785.0,8479744.0,2833079.0,5914068.0,118.306,0.863,1011713.0,842991.0,2149343.0,3169314.0,1608109.0,797913.0,242707.0,55884.0,12426.0
2,AF,38928341.0,19976265.0,18952076.0,28244481.0,9797273.0,4114030.0,4114030.0,59.627,0.498,11088732.0,9821559.0,7035871.0,4534646.0,2963459.0,1840198.0,1057496.0,480455.0,105925.0
3,AF_BAL,1509183.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AF_BAM,495557.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Again, here we will only keep the rows that correspond to the US.

In [451]:
df_demog = df_demog[df_demog.location_key.isin(location_key_US)]

In [452]:
df_demog['location_key_2'] = df_demog['location_key'].apply(lambda x: '_'.join(x.split('_')[:2]))

In [453]:
df_demog.reset_index(drop=True, inplace=True)
df_demog.head()

,location_key,population,population_male,population_female,population_rural,population_urban,population_largest_city,population_clustered,population_density,human_development_index,population_age_00_09,population_age_10_19,population_age_20_29,population_age_30_39,population_age_40_49,population_age_50_59,population_age_60_69,population_age_70_79,population_age_80_and_older,location_key_2
0,US,331002647.0,163786016.0,167216631.0,57576495.0,270663028.0,18804722.0,152587187.0,36.185,0.92,39721484.0,42332395.0,46094075.0,44668270.0,40348397.0,42120077.0,38488170.0,24082597.0,13147182.0,US
1,US_AK,733391.0,424916.0,391925.0,NaN,NaN,NaN,NaN,NaN,NaN,115198.0,111045.0,128022.0,113254.0,102310.0,116061.0,82608.0,35021.0,13322.0,US_AK
2,US_AK_02013,3455.0,2345.0,1110.0,NaN,NaN,NaN,NaN,NaN,NaN,178.0,165.0,571.0,532.0,792.0,696.0,321.0,156.0,44.0,US_AK
3,US_AK_02016,5729.0,3795.0,1934.0,NaN,NaN,NaN,NaN,NaN,NaN,359.0,400.0,951.0,957.0,1149.0,1146.0,622.0,118.0,27.0,US_AK
4,US_AK_02020,294338.0,149817.0,144521.0,NaN,NaN,NaN,NaN,NaN,NaN,41514.0,37461.0,49984.0,45570.0,35093.0,37143.0,28931.0,12887.0,5755.0,US_AK

In [454]:
df_demog_US = df_demog.loc[df_demog['location_key'] == 'US']

In [455]:
df_demog_states = df_demog.loc[df_demog['location_key'] != 'US']
df_demog_states.reset_index(drop=True, inplace=True)

In [456]:
df_demog_states.head()

,location_key,population,population_male,population_female,population_rural,population_urban,population_largest_city,population_clustered,population_density,human_development_index,population_age_00_09,population_age_10_19,population_age_20_29,population_age_30_39,population_age_40_49,population_age_50_59,population_age_60_69,population_age_70_79,population_age_80_and_older,location_key_2
0,US_AK,733391.0,424916.0,391925.0,NaN,NaN,NaN,NaN,NaN,NaN,115198.0,111045.0,128022.0,113254.0,102310.0,116061.0,82608.0,35021.0,13322.0,US_AK
1,US_AK_02013,3455.0,2345.0,1110.0,NaN,NaN,NaN,NaN,NaN,NaN,178.0,165.0,571.0,532.0,792.0,696.0,321.0,156.0,44.0,US_AK
2,US_AK_02016,5729.0,3795.0,1934.0,NaN,NaN,NaN,NaN,NaN,NaN,359.0,400.0,951.0,957.0,1149.0,1146.0,622.0,118.0,27.0,US_AK
3,US_AK_02020,294338.0,149817.0,144521.0,NaN,NaN,NaN,NaN,NaN,NaN,41514.0,37461.0,49984.0,45570.0,35093.0,37143.0,28931.0,12887.0,5755.0,US_AK
4,US_AK_02050,18090.0,9369.0,8721.0,NaN,NaN,NaN,NaN,NaN,NaN,3888.0,3211.0,2833.0,2294.0,1682.0,2053.0,1378.0,568.0,183.0,US_AK

### We see that the six of the columns in df_demog_states, namely population_rural, population_urban, population_largest_city, population_clustered, population_density  and human_development_index, have NaN values in all the rows. This means that these are the columns only useful in comparing different countries. Since we are limiting our analyses to the US, we can drop all six columns.

In [457]:
colsDrop_dfDemogStates = ['population_rural', 'population_urban', 'population_largest_city', 'population_clustered',
                           'population_density', 'human_development_index']
df_demog_states = df_demog_states.drop(columns=colsDrop_dfDemogStates)

In [458]:
df_demog_states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3284 entries, 0 to 3283
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   location_key                 3284 non-null   object
 1   population                   3284 non-null   float64
 2   population_male              3202 non-null   float64
 3   population_female            3202 non-null   float64
 4   population_age_00_09         3202 non-null   float64
 5   population_age_10_19         3202 non-null   float64
 6   population_age_20_29         3202 non-null   float64
 7   population_age_30_39         3202 non-null   float64
 8   population_age_40_49         3202 non-null   float64
 9   population_age_50_59         3202 non-null   float64
 10  population_age_60_69         3202 non-null   float64
 11  population_age_70_79         3202 non-null   float64
 12  population_age_80_and_older  3202 non-null   float64
 13  location_key_2               3284 non-null   object
dtypes: float64(12), object(2)
memory usage: 359.3+ KB

### There seems to be 82 rows where all the columns, except for location_key and location_key_2, are null. We will go ahead and drop those rows.

In [459]:
df_demog_states.loc[df_demog_states['population_male'].isna()]

,location_key,population,population_male,population_female,population_age_00_09,population_age_10_19,population_age_20_29,population_age_30_39,population_age_40_49,population_age_50_59,population_age_60_69,population_age_70_79,population_age_80_and_older,location_key_2
174,US_AS,49710.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_AS
1546,US_MP_69110,48220.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_MP
1547,US_MP_69120,3136.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_MP
2359,US_PR_72001,18020.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2360,US_PR_72003,38136.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2361,US_PR_72005,55101.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2362,US_PR_72007,24223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2363,US_PR_72009,24637.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2364,US_PR_72011,25596.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2365,US_PR_72013,87754.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2366,US_PR_72015,15843.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2367,US_PR_72017,22657.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2368,US_PR_72019,28983.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2369,US_PR_72021,185187.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2370,US_PR_72023,47158.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2371,US_PR_72025,127244.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2372,US_PR_72027,32827.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2373,US_PR_72029,42337.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2374,US_PR_72031,154815.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2375,US_PR_72033,23155.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2376,US_PR_72035,41652.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2377,US_PR_72037,11307.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2378,US_PR_72039,18782.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2379,US_PR_72041,43480.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2380,US_PR_72043,40512.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2381,US_PR_72045,20778.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2382,US_PR_72047,37142.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2384,US_PR_72051,38165.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2385,US_PR_72053,32124.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2386,US_PR_72054,11692.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2387,US_PR_72055,19427.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2388,US_PR_72057,36614.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2389,US_PR_72059,17784.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2390,US_PR_72061,89780.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2391,US_PR_72063,40622.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2392,US_PR_72065,38486.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2393,US_PR_72067,17250.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2394,US_PR_72069,58466.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2395,US_PR_72071,42943.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2396,US_PR_72073,16642.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2397,US_PR_72075,50747.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2398,US_PR_72077,40290.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2399,US_PR_72079,23334.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2400,US_PR_72081,28105.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2401,US_PR_72083,9881.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2402,US_PR_72085,38675.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2403,US_PR_72087,30060.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2404,US_PR_72089,20068.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2405,US_PR_72091,44113.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2406,US_PR_72093,6276.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2407,US_PR_72095,12225.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2408,US_PR_72097,73077.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2409,US_PR_72099,40109.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2410,US_PR_72101,32610.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2411,US_PR_72103,26720.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2412,US_PR_72105,30402.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2413,US_PR_72107,23423.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2414,US_PR_72109,19277.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2415,US_PR_72111,24282.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2416,US_PR_72113,137491.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2417,US_PR_72115,23638.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2418,US_PR_72117,15200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2419,US_PR_72119,54304.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2420,US_PR_72121,25265.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2421,US_PR_72123,25789.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2422,US_PR_72125,35527.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2424,US_PR_72129,41058.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2425,US_PR_72131,42430.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2426,US_PR_72133,23274.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2427,US_PR_72135,74066.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2428,US_PR_72137,89609.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2429,US_PR_72139,67740.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2430,US_PR_72141,33149.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2431,US_PR_72143,39951.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2432,US_PR_72145,59662.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2434,US_PR_72149,26073.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2435,US_PR_72151,30426.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2436,US_PR_72153,34172.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_PR
2437,US_RI,1097379.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_RI
3073,US_VI_78010,50601.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_VI
3074,US_VI_78020,4170.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_VI
3075,US_VI_78030,42261.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_VI

In [460]:
df_demog_states = df_demog_states.dropna()
df_demog_states.reset_index(drop=True, inplace=True)

In [461]:
fixDataTypesOfColumns(df_demog_states, df_demog_states.columns.tolist()[1:-1], 'float64', 'int64')

In [462]:
fixDataTypesOfColumns(df_demog_US, df_demog_US.columns.tolist()[1:-1], 'float64', 'int64')

/var/folders/8_/94pckqjd52dgrgd_fxmw31280000gp/T/ipykernel_3674/4103920634.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].astype(typeTo)

In [463]:
df_demog_states.head()

,location_key,population,population_male,population_female,population_age_00_09,population_age_10_19,population_age_20_29,population_age_30_39,population_age_40_49,population_age_50_59,population_age_60_69,population_age_70_79,population_age_80_and_older,location_key_2
0,US_AK,733391,424916,391925,115198,111045,128022,113254,102310,116061,82608,35021,13322,US_AK
1,US_AK_02013,3455,2345,1110,178,165,571,532,792,696,321,156,44,US_AK
2,US_AK_02016,5729,3795,1934,359,400,951,957,1149,1146,622,118,27,US_AK
3,US_AK_02020,294338,149817,144521,41514,37461,49984,45570,35093,37143,28931,12887,5755,US_AK
4,US_AK_02050,18090,9369,8721,3888,3211,2833,2294,1682,2053,1378,568,183,US_AK

### As with df_epidem, we will only keep the rows where location_key == location_key_2 since we only want to retain data at the state level. Then, we will drop location_key_2 column.

In [465]:
df_demog_states = df_demog_states.loc[df_demog_states['location_key'] == df_demog_states['location_key_2']]

In [468]:
df_demog_US.drop(columns=['location_key_2'], inplace=True)
df_demog_states.drop(columns=['location_key_2'], inplace=True)

/var/folders/8_/94pckqjd52dgrgd_fxmw31280000gp/T/ipykernel_3674/1539207519.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_demog_US.drop(columns=['location_key_2'], inplace=True)

### Moving onto df_emergDeclare, we see that there are 104 rows in df_emergDeclare. We will only hand-pick some and retain them.

In [471]:
pd.set_option('display.max_columns', None)
df_emergDeclare.tail(10)

,date,location_key,lawatlas_mitigation_policy,lawatlas_state_emergency,lawatlas_emerg_statewide,lawatlas_travel_requirement,lawatlas_traveler_type_all_people_entering_the_state,lawatlas_traveler_type_travelers_from_specified_states,lawatlas_traveler_type_travelers_from_specified_countries,lawatlas_traveler_type_general_international_travelers,lawatlas_traveler_type_all_air_travelers,lawatlas_requirement_type_traveler_must_self_quarantine,lawatlas_requirement_type_traveler_must_inform_others_of_travel,lawatlas_requirement_type_checkpoints_must_be_established,lawatlas_requirement_type_travel_requirement_must_be_posted,lawatlas_travel_statewide,lawatlas_home_requirement,lawatlas_home_except_engaging_in_essential_business_activities,lawatlas_home_except_obtaining_necessary_supplies,lawatlas_home_except_accessing_emergency_services,lawatlas_home_except_caring_for_a_person_outside_the_home,lawatlas_home_except_caring_for_a_pet_outside_the_home,lawatlas_home_except_engaging_in_outdoor_activities,lawatlas_home_except_attending_religious_services,lawatlas_home_except_engaging_in_essential_health_care_services,lawatlas_home_statewide,lawatlas_curfew_reg,lawatlas_mask_requirement,lawatlas_mask_statewide,lawatlas_business_close,lawatlas_business_type_all_non_essential_businesses,lawatlas_business_type_non_essential_retail_businesses,lawatlas_business_type_entertainment_businesses,lawatlas_business_type_personal_service_businesses,lawatlas_business_type_restaurants,lawatlas_business_type_bars,lawatlas_business_type_fitness_centers,lawatlas_essential_def_appliance_stores,lawatlas_essential_def_convenience_stores,lawatlas_essential_def_gas_stations,lawatlas_essential_def_grocery_stores,lawatlas_essential_def_gun_stores,lawatlas_essential_def_hardware_stores,lawatlas_essential_def_liquor_stores,lawatlas_essential_def_pharmacies,lawatlas_essential_def_marijuana_dispensaries,lawatlas_essential_def_pet_stores,lawatlas_essential_def_type_of_essential_retail_business_is_not_specified,lawatlas_essential_def_no_restriction_on_retail_businesses,lawatlas_business_statewide,lawatlas_rest_restrict,lawatlas_service_type_takeout,lawatlas_service_type_delivery,lawatlas_service_type_limited_on_site_service,lawatlas_rest_statewide,lawatlas_schools_requirement,lawatlas_schools_type_private_elementary_schools,lawatlas_schools_type_private_secondary_schools,lawatlas_schools_type_public_elementary_schools,lawatlas_schools_type_public_secondary_schools,lawatlas_schools_type_colleges_and_universities,lawatlas_schools_type_technical_schools,lawatlas_schools_type_type_of_school_not_specified,lawatlas_schools_statewide,lawatlas_gathering_ban,lawatlas_gathering_type,lawatlas_gathering_statewide,lawatlas_med_restrict,lawatlas_med_except_delay_would_threaten_patients_health,lawatlas_med_except_delay_would_threaten_patients_life,lawatlas_med_except_procedure_needed_to_treat_emergency,lawatlas_med_except_procedure_does_not_deplete_hospital_capacity,lawatlas_med_except_procedure_does_not_deplete_personal_protective_equipment,lawatlas_med_except_family_planning_services,lawatlas_med_except_no_exception_specified,lawatlas_abortion_essential_new,lawatlas_med_statewide,lawatlas_correct_requirement,lawatlas_correct_facility_all_state_facilities,lawatlas_correct_facility_all_department_of_corrections_facilities,lawatlas_correct_facility_all_county_jails,lawatlas_correct_facility_juvenile_detention_centers,lawatlas_correct_type_intakes_suspended,lawatlas_correct_type_duty_to_receive_prisoners_suspended,lawatlas_correct_type_transfers_to_custody_suspended,lawatlas_correct_type_release_of_inmates,lawatlas_correct_type_rules_regarding_inmate_release_suspended,lawatlas_correct_type_release_notice_suspended,lawatlas_correct_type_cease_in_person_parole_hearings,lawatlas_correct_type_develop_process_for_virtual_parole_hearings,lawatlas_correct_type_visitation_suspended,lawatlas_correct_statewide,lawatlas_state_preempt,lawatlas_action_preempt_imposing_additional_social_distancing_limitations_on_essential_business,lawatlas_action_preempt_imposing_additional_restrictions_on_public_spaces,lawatlas_action_preempt_restricting_scope_of_services_of_an_essential_business,lawatlas_action_preempt_expanding_the_definition_of_non-essential_business,lawatlas_action_preempt_restricting_the_hours_of_operation_of_an_essential_business,lawatlas_action_preempt_imposing_restrictions_that_conflict_with_state_order,lawatlas_action_preempt_restricting_the_performance_of_an_essential_function,lawatlas_action_preempt_restricting_people_from_leaving_home,lawatlas_action_preempt_restricting_the_operations_of_schools,lawatlas_action_preempt_imposing_gathering_bans,lawatlas_local_allow
8354,2020-06-22,US_WY,1,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,10.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
8355,2020-06-23,US_WY,1,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,10.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
8356,2020-06-24,US_WY,1,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,10.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
8357,2020-06-25,US_WY,1,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,10.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
8358,2020-06-26,US_WY,1,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,10.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
8359,2020-06-27,US_WY,1,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,10.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
8360,2020-06-28,US_WY,1,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,10.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
8361,2020-06-29,US_WY,1,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,10.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
8362,2020-06-30,US_WY,1,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,10.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
8363,2020-07-01,US_WY,1,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,10.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [472]:
la = 'lawatlas_' # this appears in every column name
df_emergD2 = df_emergDeclare[['date', 'location_key', la+'mitigation_policy', la+'emerg_statewide', 
                              la+'requirement_type_traveler_must_self_quarantine',
                             la+'home_statewide', la+'mask_statewide',
                             la+'schools_statewide', la+'gathering_statewide']]

### Next, we see that the values in all the columns except for the data and location_key columns are either integers 0 or 1. We need to change it from float to int type. For that, first we will replace all the NaN values with 0.

In [473]:
df_emergD2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8364 entries, 0 to 8363
Data columns (total 9 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   date                                                     8364 non-null   object
 1   location_key                                             8364 non-null   object
 2   lawatlas_mitigation_policy                               8364 non-null   int64
 3   lawatlas_emerg_statewide                                 5794 non-null   float64
 4   lawatlas_requirement_type_traveler_must_self_quarantine  0 non-null      float64
 5   lawatlas_home_statewide                                  2157 non-null   float64
 6   lawatlas_mask_statewide                                  2325 non-null   float64
 7   lawatlas_schools_statewide                               4602 non-null   float64
 8   lawatlas_gathering_statewide                             4391 non-null   float64
dtypes: float64(6), int64(1), object(2)
memory usage: 588.2+ KB

### Seeing that all the entries in '...traveler_must_self_quarantine' column are NaN, we can drop that column entirely.

In [474]:
df_emergD2.drop(columns=[la+'requirement_type_traveler_must_self_quarantine'], inplace=True)

/var/folders/8_/94pckqjd52dgrgd_fxmw31280000gp/T/ipykernel_3674/4259409994.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_emergD2.drop(columns=[la+'requirement_type_traveler_must_self_quarantine'], inplace=True)

In [475]:
df_emergD2.reset_index(drop=True, inplace=True)

### Looks like we don't need to create location_key_2 column since entries in location_key are already at the state-level granularity.

In [476]:
set(df_emergD2['location_key'].tolist())

{'US_AK',
 'US_AL',
 'US_AR',
 'US_AZ',
 'US_CA',
 'US_CO',
 'US_CT',
 'US_DC',
 'US_DE',
 'US_FL',
 'US_GA',
 'US_HI',
 'US_IA',
 'US_ID',
 'US_IL',
 'US_IN',
 'US_KS',
 'US_KY',
 'US_LA',
 'US_MA',
 'US_MD',
 'US_ME',
 'US_MI',
 'US_MN',
 'US_MO',
 'US_MS',
 'US_MT',
 'US_NC',
 'US_ND',
 'US_NE',
 'US_NH',
 'US_NJ',
 'US_NM',
 'US_NV',
 'US_NY',
 'US_OH',
 'US_OK',
 'US_OR',
 'US_PA',
 'US_RI',
 'US_SC',
 'US_SD',
 'US_TN',
 'US_TX',
 'US_UT',
 'US_VA',
 'US_VT',
 'US_WA',
 'US_WI',
 'US_WV',
 'US_WY'}

### Now, let's fill the NaN values using ffill first. Then we will fill the rest of the NaN values with 0.

In [477]:
df_emergD2 = df_emergD2.groupby(['location_key']).apply(lambda x: x.ffill())
df_emergD2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8364 entries, 0 to 8363
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   date                          8364 non-null   object
 1   location_key                  8364 non-null   object
 2   lawatlas_mitigation_policy    8364 non-null   int64
 3   lawatlas_emerg_statewide      5794 non-null   float64
 4   lawatlas_home_statewide       3766 non-null   float64
 5   lawatlas_mask_statewide       2383 non-null   float64
 6   lawatlas_schools_statewide    4952 non-null   float64
 7   lawatlas_gathering_statewide  5008 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 588.1+ KB

In [479]:
df_emergD2 = df_emergD2.fillna(0)
df_emergD2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8364 entries, 0 to 8363
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   date                          8364 non-null   object
 1   location_key                  8364 non-null   object
 2   lawatlas_mitigation_policy    8364 non-null   int64
 3   lawatlas_emerg_statewide      8364 non-null   float64
 4   lawatlas_home_statewide       8364 non-null   float64
 5   lawatlas_mask_statewide       8364 non-null   float64
 6   lawatlas_schools_statewide    8364 non-null   float64
 7   lawatlas_gathering_statewide  8364 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 588.1+ KB

### Looks like all the rows in df_emergD2 are at the state-level granularity and there's none at the country-level granularity. Therefore, we DON'T need to split df_emergD2 into df_emergD2_US and df_emergD2_states.

In [480]:
df_emergD2.loc[df_emergD2['location_key'] == 'US'].shape

(0, 8)

In [481]:
fixDataTypesOfColumns(df_emergD2, df_emergD2.columns.tolist()[3:], 'float64', 'int64')

In [484]:
df_emergD2['date_month'] = df_emergD2['date'].apply(lambda x: '-'.join(x.split('-')[:2]))

### Moving onto df_hospitalized

In [493]:
df_hospitalized = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/hospitalizations.csv")

In [494]:
df_hospitalized.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1768485 entries, 0 to 1768484
Data columns (total 11 columns):
 #   Column                              Dtype
---  ------                              -----
 0   date                                object
 1   location_key                        object
 2   new_hospitalized_patients           float64
 3   cumulative_hospitalized_patients    float64
 4   current_hospitalized_patients       float64
 5   new_intensive_care_patients         float64
 6   cumulative_intensive_care_patients  float64
 7   current_intensive_care_patients     float64
 8   new_ventilator_patients             float64
 9   cumulative_ventilator_patients      float64
 10  current_ventilator_patients         float64
dtypes: float64(9), object(2)
memory usage: 148.4+ MB

In [496]:
df_hospitalized = df_hospitalized[df_hospitalized['location_key'].isin(location_key_US)]

In [497]:
df_hospitalized.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58141 entries, 1710344 to 1768484
Data columns (total 11 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   date                                58141 non-null  object
 1   location_key                        58141 non-null  object
 2   new_hospitalized_patients           57238 non-null  float64
 3   cumulative_hospitalized_patients    53093 non-null  float64
 4   current_hospitalized_patients       49380 non-null  float64
 5   new_intensive_care_patients         4521 non-null   float64
 6   cumulative_intensive_care_patients  4209 non-null   float64
 7   current_intensive_care_patients     47186 non-null  float64
 8   new_ventilator_patients             1705 non-null   float64
 9   cumulative_ventilator_patients      1710 non-null   float64
 10  current_ventilator_patients         9546 non-null   float64
dtypes: float64(9), object(2)
memory usage: 5.3+ MB

In [501]:
df_hospitalized['location_key_2'] = df_hospitalized['location_key'].apply(lambda x: '_'.join(x.split('_')[:2]))

In [504]:
df_hospitalized = df_hospitalized.loc[df_hospitalized['location_key'] == df_hospitalized['location_key_2']]
df_hospitalized.drop(columns=['location_key_2'], inplace=True)
df_hospitalized.shape

(51676, 11)

### Now, we need to do fillna(0) for the 'new_...' columns and groupby + fillna(ffill) for the 'cumulative_...' columns.

In [505]:
df_hospitalized.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51676 entries, 1710344 to 1768484
Data columns (total 11 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   date                                51676 non-null  object
 1   location_key                        51676 non-null  object
 2   new_hospitalized_patients           51676 non-null  float64
 3   cumulative_hospitalized_patients    47531 non-null  float64
 4   current_hospitalized_patients       48477 non-null  float64
 5   new_intensive_care_patients         4521 non-null   float64
 6   cumulative_intensive_care_patients  4209 non-null   float64
 7   current_intensive_care_patients     46283 non-null  float64
 8   new_ventilator_patients             1705 non-null   float64
 9   cumulative_ventilator_patients      1710 non-null   float64
 10  current_ventilator_patients         9546 non-null   float64
dtypes: float64(9), object(2)
memory usage: 4.7+ MB

In [506]:
colsForFillZero = ['new_hospitalized_patients', 'new_intensive_care_patients', 'new_ventilator_patients']
colsForGroupbyFfill = ['cumulative_hospitalized_patients', 'cumulative_intensive_care_patients', 
                      'cumulative_ventilator_patients', 'current_hospitalized_patients', 
                       'current_intensive_care_patients', 'current_ventilator_patients']
df_hospitalized[colsForFillZero] = df_hospitalized[colsForFillZero].fillna(0)
df_hospitalized[colsForGroupbyFfill] = df_hospitalized.groupby(['location_key'])[colsForGroupbyFfill].apply(lambda x: x.ffill())

In [508]:
df_hospitalized = df_hospitalized.fillna(0)

In [511]:
df_hospitalized['date_month'] = df_hospitalized['date'].apply(lambda x: '-'.join(x.split('-')[:2]))

In [512]:
df_hosp_US = df_hospitalized.loc[df_hospitalized['location_key'] == 'US']
df_hosp_states = df_hospitalized.loc[df_hospitalized['location_key'] != 'US']

In [516]:
df_hosp_states.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50699 entries, 1711321 to 1768484
Data columns (total 12 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   date                                50699 non-null  object
 1   location_key                        50699 non-null  object
 2   new_hospitalized_patients           50699 non-null  float64
 3   cumulative_hospitalized_patients    50699 non-null  float64
 4   current_hospitalized_patients       50699 non-null  float64
 5   new_intensive_care_patients         50699 non-null  float64
 6   cumulative_intensive_care_patients  50699 non-null  float64
 7   current_intensive_care_patients     50699 non-null  float64
 8   new_ventilator_patients             50699 non-null  float64
 9   cumulative_ventilator_patients      50699 non-null  float64
 10  current_ventilator_patients         50699 non-null  float64
 11  date_month                          50699 non-null  object
dtypes: float64(9), object(3)
memory usage: 5.0+ MB

In [517]:
df_hosp_US.reset_index(drop=True, inplace=True)
df_hosp_states.reset_index(drop=True, inplace=True)
fixDataTypesOfColumns(df_hosp_US, df_hosp_US.columns.tolist()[2:11], 'float64', 'int64')
fixDataTypesOfColumns(df_hosp_states, df_hosp_states.columns.tolist()[2:11], 'float64', 'int64')

/var/folders/8_/94pckqjd52dgrgd_fxmw31280000gp/T/ipykernel_3674/4103920634.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].astype(typeTo)

### Next is df_mobility

In [520]:
df_mobility = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/mobility.csv")

In [521]:
df_mobility.head()

,date,location_key,mobility_retail_and_recreation,mobility_grocery_and_pharmacy,mobility_parks,mobility_transit_stations,mobility_workplaces,mobility_residential
0,2020-02-15,AE,0.0,4.0,5.0,0.0,2.0,1.0
1,2020-02-16,AE,1.0,4.0,4.0,1.0,2.0,1.0
2,2020-02-17,AE,-1.0,1.0,5.0,1.0,2.0,1.0
3,2020-02-18,AE,-2.0,1.0,5.0,0.0,2.0,1.0
4,2020-02-19,AE,-2.0,0.0,4.0,-1.0,2.0,1.0

In [522]:
df_mobility = df_mobility[df_mobility['location_key'].isin(location_key_US)]

In [523]:
df_mobility.isna().sum()

date                                    0
location_key                            0
mobility_retail_and_recreation     860673
mobility_grocery_and_pharmacy     1024790
mobility_parks                    1846480
mobility_transit_stations         1522028
mobility_workplaces                 44522
mobility_residential              1009563
dtype: int64

In [526]:
df_mobility['location_key_2'] = df_mobility['location_key'].apply(lambda x: '_'.join(x.split('_')[:2]))

In [527]:
df_mobility.shape

(2445945, 9)

In [528]:
df_mobility = df_mobility.loc[df_mobility['location_key'] == df_mobility['location_key_2']]
df_mobility.drop(columns=['location_key_2'], inplace=True)
df_mobility.shape

(48932, 8)

In [529]:
df_mobility.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48932 entries, 3845350 to 6274306
Data columns (total 8 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   date                            48932 non-null  object
 1   location_key                    48932 non-null  object
 2   mobility_retail_and_recreation  48932 non-null  float64
 3   mobility_grocery_and_pharmacy   48932 non-null  float64
 4   mobility_parks                  48392 non-null  float64
 5   mobility_transit_stations       48797 non-null  float64
 6   mobility_workplaces             48932 non-null  float64
 7   mobility_residential            48932 non-null  float64
dtypes: float64(6), object(2)
memory usage: 3.4+ MB

In [530]:
df_mobility = df_mobility.groupby(['location_key']).apply(lambda x: x.ffill())

In [532]:
df_mob_US = df_mobility.loc[df_mobility['location_key'] == 'US']
df_mob_states = df_mobility.loc[df_mobility['location_key'] != 'US']

### Next we look at df_vaccinations

In [534]:
df_vaccinations = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/vaccinations.csv")

In [535]:
df_vaccinations = df_vaccinations[df_vaccinations['location_key'].isin(location_key_US)]

In [539]:
df_vaccinations['location_key_2'] = df_vaccinations['location_key'].apply(lambda x: '_'.join(x.split('_')[:2]))

In [541]:
df_vaccinations = df_vaccinations.loc[df_vaccinations['location_key'] == df_vaccinations['location_key_2']]
df_vaccinations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34122 entries, 916955 to 2531126
Data columns (total 33 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   date                                           34122 non-null  object
 1   location_key                                   34122 non-null  object
 2   new_persons_vaccinated                         33968 non-null  float64
 3   cumulative_persons_vaccinated                  34025 non-null  float64
 4   new_persons_fully_vaccinated                   33947 non-null  float64
 5   cumulative_persons_fully_vaccinated            33955 non-null  float64
 6   new_vaccine_doses_administered                 34065 non-null  float64
 7   cumulative_vaccine_doses_administered          34122 non-null  float64
 8   new_persons_vaccinated_pfizer                  0 non-null      float64
 9   cumulative_persons_vaccinated_pfizer           0 non-null      float64
 10  new_persons_fully_vaccinated_pfizer            30894 non-null  float64
 11  cumulative_persons_fully_vaccinated_pfizer     30951 non-null  float64
 12  new_vaccine_doses_administered_pfizer          30894 non-null  float64
 13  cumulative_vaccine_doses_administered_pfizer   30951 non-null  float64
 14  new_persons_vaccinated_moderna                 0 non-null      float64
 15  cumulative_persons_vaccinated_moderna          0 non-null      float64
 16  new_persons_fully_vaccinated_moderna           30894 non-null  float64
 17  cumulative_persons_fully_vaccinated_moderna    30951 non-null  float64
 18  new_vaccine_doses_administered_moderna         30894 non-null  float64
 19  cumulative_vaccine_doses_administered_moderna  30951 non-null  float64
 20  new_persons_vaccinated_janssen                 0 non-null      float64
 21  cumulative_persons_vaccinated_janssen          0 non-null      float64
 22  new_persons_fully_vaccinated_janssen           30894 non-null  float64
 23  cumulative_persons_fully_vaccinated_janssen    30951 non-null  float64
 24  new_vaccine_doses_administered_janssen         30894 non-null  float64
 25  cumulative_vaccine_doses_administered_janssen  30951 non-null  float64
 26  new_persons_vaccinated_sinovac                 0 non-null      float64
 27  total_persons_vaccinated_sinovac               0 non-null      float64
 28  new_persons_fully_vaccinated_sinovac           0 non-null      float64
 29  total_persons_fully_vaccinated_sinovac         0 non-null      float64
 30  new_vaccine_doses_administered_sinovac         0 non-null      float64
 31  total_vaccine_doses_administered_sinovac       0 non-null      float64
 32  location_key_2                                 34122 non-null  object
dtypes: float64(30), object(3)
memory usage: 8.9+ MB

### Next, we see that some of the columns are specific to the a brand of vaccine. For our purporses, we won't differentiate between pfizer, moderna and janssen so we will not keep those columns that have the name of a covid vaccine brand in their names.

In [542]:
df_vacc = df_vaccinations[['date', 'location_key', 
                          'new_persons_vaccinated',
                          'cumulative_persons_vaccinated',
                          'new_persons_fully_vaccinated',
                          'cumulative_persons_fully_vaccinated',
                          'new_vaccine_doses_administered',
                          'cumulative_vaccine_doses_administered']]

In [543]:
df_vacc['date_month'] = df_vacc['date'].apply(lambda x: '-'.join(x.split('-')[:2]))
df_vacc.head()

/var/folders/8_/94pckqjd52dgrgd_fxmw31280000gp/T/ipykernel_3674/13640423.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vacc['date_month'] = df_vacc['date'].apply(lambda x: '-'.join(x.split('-')[:2]))

,date,location_key,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered,date_month
916955,2020-12-13,US,30817.0,30817.0,NaN,7882.0,37821.0,37821.0,2020-12
916956,2020-12-14,US,4538.0,35355.0,143.0,8025.0,4709.0,42530.0,2020-12
916957,2020-12-15,US,45876.0,81231.0,290.0,8315.0,47301.0,89831.0,2020-12
916958,2020-12-16,US,154818.0,236049.0,488.0,8803.0,159341.0,249172.0,2020-12
916959,2020-12-17,US,266883.0,502932.0,789.0,9592.0,273552.0,522724.0,2020-12

### Now, we will perform fillna(0) on the 'new_...' columns and groupby + ffill() on the 'cumulative_...' columns.

In [551]:
colsForFillZero = ['new_persons_vaccinated', 'new_persons_fully_vaccinated', 'new_vaccine_doses_administered']
colsForGroupbyFfill = ['cumulative_persons_vaccinated', 'cumulative_persons_fully_vaccinated',
                      'cumulative_vaccine_doses_administered']
df_vacc[colsForFillZero] = df_vacc[colsForFillZero].fillna(0)
df_vacc[colsForGroupbyFfill] = df_vacc.groupby(['location_key'])[colsForGroupbyFfill].apply(lambda x: x.ffill())

/var/folders/8_/94pckqjd52dgrgd_fxmw31280000gp/T/ipykernel_3674/733079642.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vacc[colsForFillZero] = df_vacc[colsForFillZero].fillna(0)
/var/folders/8_/94pckqjd52dgrgd_fxmw31280000gp/T/ipykernel_3674/733079642.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vacc[colsForGroupbyFfill] = df_vacc.groupby(['location_key'])[colsForGroupbyFfill].apply(lambda x: x.ffill())

In [556]:
df_vacc = df_vacc.fillna(0)
fixDataTypesOfColumns(df_vacc, df_vacc.columns.tolist()[2:8], 'float64', 'int64')
df_vacc.head()

Datatypes not matching!

,date,location_key,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered,date_month
916955,2020-12-13,US,30817,30817,0,7882,37821,37821,2020-12
916956,2020-12-14,US,4538,35355,143,8025,4709,42530,2020-12
916957,2020-12-15,US,45876,81231,290,8315,47301,89831,2020-12
916958,2020-12-16,US,154818,236049,488,8803,159341,249172,2020-12
916959,2020-12-17,US,266883,502932,789,9592,273552,522724,2020-12

In [557]:
df_vacc_US = df_vacc.loc[df_vacc['location_key'] == 'US']
df_vacc_states = df_vacc.loc[df_vacc['location_key'] != 'US']
df_vacc_US.reset_index(drop=True, inplace=True)
df_vacc_states.reset_index(drop=True, inplace=True)

### Next, we take a look at df_govResponse

In [559]:
df_govResponse =pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/oxford-government-response.csv")

In [563]:
df_govResponse = df_govResponse.loc[df_govResponse['location_key'].isin(location_key_US)]

In [565]:
df_govResponse.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48218 entries, 245543 to 293760
Data columns (total 22 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   date                                48218 non-null  object
 1   location_key                        48218 non-null  object
 2   school_closing                      48217 non-null  float64
 3   workplace_closing                   48218 non-null  float64
 4   cancel_public_events                48218 non-null  float64
 5   restrictions_on_gatherings          48218 non-null  float64
 6   public_transport_closing            48210 non-null  float64
 7   stay_at_home_requirements           48218 non-null  float64
 8   restrictions_on_internal_movement   48212 non-null  float64
 9   international_travel_controls       48203 non-null  float64
 10  income_support                      48213 non-null  float64
 11  debt_relief                         48168 non-null  float64
 12  fiscal_measures                     12583 non-null  float64
 13  international_support               12456 non-null  float64
 14  public_information_campaigns        48215 non-null  float64
 15  testing_policy                      48215 non-null  float64
 16  contact_tracing                     48203 non-null  float64
 17  emergency_investment_in_healthcare  12363 non-null  float64
 18  investment_in_vaccines              14417 non-null  float64
 19  facial_coverings                    48212 non-null  float64
 20  vaccination_policy                  48208 non-null  float64
 21  stringency_index                    48212 non-null  float64
dtypes: float64(20), object(2)
memory usage: 8.5+ MB

### We will filter a few of the columns from df_govResponse.

In [570]:
colsToLeaveOut = ['debt_relief', 'fiscal_measures', 'international_support']
df_govResp = df_govResponse.drop(columns=colsToLeaveOut)
df_govResp.head()

,date,location_key,school_closing,workplace_closing,cancel_public_events,restrictions_on_gatherings,public_transport_closing,stay_at_home_requirements,restrictions_on_internal_movement,international_travel_controls,income_support,public_information_campaigns,testing_policy,contact_tracing,emergency_investment_in_healthcare,investment_in_vaccines,facial_coverings,vaccination_policy,stringency_index
245543,2020-01-01,US,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
245544,2020-01-02,US,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
245545,2020-01-03,US,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
245546,2020-01-04,US,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
245547,2020-01-05,US,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [573]:
df_govResp = df_govResp.groupby(['location_key']).apply(lambda x: x.ffill())

In [575]:
df_govResp = df_govResp.fillna(0)
df_govResp.head()

,date,location_key,school_closing,workplace_closing,cancel_public_events,restrictions_on_gatherings,public_transport_closing,stay_at_home_requirements,restrictions_on_internal_movement,international_travel_controls,income_support,public_information_campaigns,testing_policy,contact_tracing,emergency_investment_in_healthcare,investment_in_vaccines,facial_coverings,vaccination_policy,stringency_index
245543,2020-01-01,US,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
245544,2020-01-02,US,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
245545,2020-01-03,US,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
245546,2020-01-04,US,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
245547,2020-01-05,US,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [576]:
df_govResp['date_month'] = df_govResp['date'].apply(lambda x: '-'.join(x.split('-')[:2]))

### Now, casting columns to correct data types.

In [578]:
df_govResp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48218 entries, 245543 to 293760
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   date                                48218 non-null  object
 1   location_key                        48218 non-null  object
 2   school_closing                      48218 non-null  float64
 3   workplace_closing                   48218 non-null  float64
 4   cancel_public_events                48218 non-null  float64
 5   restrictions_on_gatherings          48218 non-null  float64
 6   public_transport_closing            48218 non-null  float64
 7   stay_at_home_requirements           48218 non-null  float64
 8   restrictions_on_internal_movement   48218 non-null  float64
 9   international_travel_controls       48218 non-null  float64
 10  income_support                      48218 non-null  float64
 11  public_information_campaigns        48218 non-null  float64
 12  testing_policy                      48218 non-null  float64
 13  contact_tracing                     48218 non-null  float64
 14  emergency_investment_in_healthcare  48218 non-null  float64
 15  investment_in_vaccines              48218 non-null  float64
 16  facial_coverings                    48218 non-null  float64
 17  vaccination_policy                  48218 non-null  float64
 18  stringency_index                    48218 non-null  float64
 19  date_month                          48218 non-null  object
dtypes: float64(17), object(3)
memory usage: 7.7+ MB

In [579]:
fixDataTypesOfColumns(df_govResp, df_govResp.columns.tolist()[2:18], 'float64', 'int64')

In [581]:
df_govResp_US = df_govResp.loc[df_govResp['location_key'] == 'US']
df_govResp_states = df_govResp.loc[df_govResp['location_key'] != 'US']

In [582]:
df_govResp_US.reset_index(drop=True, inplace=True)
df_govResp_states.reset_index(drop=True, inplace=True)

# Finally, we will export the clean dataframes as csv files to CovidProj folder on Desktop.

In [601]:
path = '~/Desktop/CovidProj/'
df_epidem_US.to_csv(path+'epidem_US.csv', sep=',', index=False)

In [602]:
df_epidem_states.to_csv(path+'epidem_states.csv', sep=',', index=False)
df_demog_US.to_csv(path+'demog_US.csv', sep=',', index=False)
df_demog_states.to_csv(path+'demog_states.csv', sep=',', index=False)
df_emergD2.to_csv(path+'emerg_declarations.csv', sep=',', index=False)
df_hosp_US.to_csv(path+'hospitalized_US.csv', sep=',', index=False)
df_hosp_states.to_csv(path+'hospitalized_states.csv', sep=',', index=False)
df_mob_US.to_csv(path+'mobility_US.csv', sep=',', index=False)
df_mob_states.to_csv(path+'mobility_states.csv', sep=',', index=False)
df_vacc_US.to_csv(path+'vaccination_US.csv', sep=',', index=False)
df_vacc_states.to_csv(path+'vaccination_states.csv', sep=',', index=False)
df_govResp_US.to_csv(path+'govResp_US.csv', sep=',', index=False)
df_govResp_states.to_csv(path+'govResp_states.csv', sep=',', index=False)

In [604]:
set(df_demog_states.location_key.tolist())

{'US_AK',
 'US_AL',
 'US_AR',
 'US_AZ',
 'US_CA',
 'US_CO',
 'US_CT',
 'US_DC',
 'US_DE',
 'US_FL',
 'US_GA',
 'US_GU',
 'US_HI',
 'US_IA',
 'US_ID',
 'US_IL',
 'US_IN',
 'US_KS',
 'US_KY',
 'US_LA',
 'US_MA',
 'US_MD',
 'US_ME',
 'US_MI',
 'US_MN',
 'US_MO',
 'US_MP',
 'US_MS',
 'US_MT',
 'US_NC',
 'US_ND',
 'US_NE',
 'US_NH',
 'US_NJ',
 'US_NM',
 'US_NV',
 'US_NY',
 'US_OH',
 'US_OK',
 'US_OR',
 'US_PA',
 'US_PR',
 'US_SC',
 'US_SD',
 'US_TN',
 'US_TX',
 'US_UT',
 'US_VA',
 'US_VI',
 'US_VT',
 'US_WA',
 'US_WI',
 'US_WV',
 'US_WY'}

In [608]:
df_mob_states['date_month'] = df_mob_states['date'].apply(lambda x: '-'.join(x.split('-')[:2]))
df_mob_US['date_month'] = df_mob_US['date'].apply(lambda x: '-'.join(x.split('-')[:2]))

/var/folders/8_/94pckqjd52dgrgd_fxmw31280000gp/T/ipykernel_3674/3801502853.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mob_states['date_month'] = df_mob_states['date'].apply(lambda x: '-'.join(x.split('-')[:2]))
/var/folders/8_/94pckqjd52dgrgd_fxmw31280000gp/T/ipykernel_3674/3801502853.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mob_US['date_month'] = df_mob_US['date'].apply(lambda x: '-'.join(x.split('-')[:2]))

In [609]:
df_mob_states.head()

,date,location_key,mobility_retail_and_recreation,mobility_grocery_and_pharmacy,mobility_parks,mobility_transit_stations,mobility_workplaces,mobility_residential,date_month
3846291,2020-02-15,US_AK,5.0,3.0,14.0,2.0,1.0,0.0,2020-02
3846292,2020-02-16,US_AK,15.0,5.0,29.0,6.0,1.0,-1.0,2020-02
3846293,2020-02-17,US_AK,3.0,-2.0,9.0,-6.0,-33.0,8.0,2020-02
3846294,2020-02-18,US_AK,-2.0,-2.0,1.0,4.0,-2.0,2.0,2020-02
3846295,2020-02-19,US_AK,0.0,-2.0,1.0,4.0,-3.0,2.0,2020-02

In [3]:
# Re-importing the saved files for analysis

import pandas as pd

df = pd.read_csv('~/Desktop/CovidProj/epidem_states.csv', sep=',')

In [5]:
df.head()

,date,location_key,new_confirmed,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested,date_month
0,2020-01-22,US_AK,0,0,0,0,0,0,0,0,2020-01
1,2020-01-23,US_AK,0,0,0,0,0,0,0,0,2020-01
2,2020-01-24,US_AK,0,0,0,0,0,0,0,0,2020-01
3,2020-01-25,US_AK,0,0,0,0,0,0,0,0,2020-01
4,2020-01-26,US_AK,0,0,0,0,0,0,0,0,2020-01

In [6]:
df['location_key'] = df['location_key'].apply(lambda x: x.split('_')[1])

In [8]:
df = df[['date', 'location_key', 'new_confirmed', 'new_deceased', 'new_tested']]

In [12]:
df.dtypes

date             object
location_key     object
new_confirmed     int64
new_deceased      int64
new_tested        int64
dtype: object

In [15]:
df.to_csv('~/Desktop/CovidProj/epidem_states_daily.csv', sep=',', index=False)

In [17]:
df.shape

(54218, 5)

In [27]:
df = pd.read_csv('~/Desktop/CovidProj/epidem_US_daily.csv', sep=',')

In [28]:
df.head()

         date location_key  new_confirmed  new_deceased  new_tested
0  2020-01-01           US              0             0           0
1  2020-01-02           US              0             0           0
2  2020-01-03           US              0             0           0
3  2020-01-04           US              0             0           0
4  2020-01-05           US              0             0           0

In [29]:
df.isna().sum()

date             0
location_key     0
new_confirmed    0
new_deceased     0
new_tested       0
dtype: int64

In [30]:
sum(df['new_deceased'])

988028